<a href="https://colab.research.google.com/github/robin-ochieng/hello-world/blob/master/Object_oriented_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
class Dog():
  def __init__(self,name, age):
    self.name = name
    self.age = age
  
  def get_name(self):
    return self.name
    return x + 1
  def get_age(self):
    return self.age
  def set_age(self, age):
    self.age = age

In [41]:
d = Dog('Tim', 34)
d2 = Dog('bill',12)

In [42]:
print(d.get_name())

Tim

In [43]:
print(d.name)

Tim

In [44]:
print(d2.name)

bill

In [45]:
d2.get_age()

12

In [46]:
d.set_age(25)

In [47]:
d.get_age()

25

u

## using multiple classes

In [48]:
class Student:
  def __init__(self,name,age,grade):
    self.name = name
    self.age = age
    self.grade = grade # 0 - 100

  def get_grade(self):
    return self.grade


class Course:
  def __init__(self, name, max_students):
    self.name = name
    self.max_students = max_students
    self.students = []

  def add_student(self, student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False

  def get_average_grade(self):
    value = 0 
    for student in self.students:
      value += student.get_grade()

    return value / len(self.students)


s1 = Student('Robin', 19, 98)
s2 = Student('Pinto', 20, 79)
s3 = Student('Bill', 20, 88)

course = Course('science', 2)
course.add_student(s1)
course.add_student(s2)
print(course.students)
print(course.get_average_grade())

[<__main__.Student object at 0x7ff941e7ea50>, <__main__.Student object at 0x7ff941e7e7d0>]
88.5

## inheritence in classes

In [49]:
class Cat:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def speak(self):
    print('Meaw')  

class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def speak(self):
    print('bark')

In [50]:
cat1 = Cat('Mamba', 1)
cat1.speak()

Meaw

In [60]:
class Pet:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show(self):
    print(f'I am {self.name} and I am {self.age} Months old')  
  def speak(self):
    print(i)
class Cat(Pet):
  def __init__(self,name, age, color):
    super().__init__(name, age)
    self.color = color

  def speak(self):
      print('Meaw')  

  def show(self):
    print(f'I am {self.name} and I am {self.age} Months old and I am {self.color} color')      

class Dog(Pet):
  def speak(self):
      print('bark')

In [62]:
Pet1 = Pet('Mamba', 2)
Pet1.show()


cat1 = Cat('Bill', 14,'red')
cat1.show()

dog1 = Dog('rooney', 88)
dog1.show()

I am Mamba and I am 2 Months old
I am Bill and I am 14 Months old and I am red color
I am rooney and I am 88 Months old

## Class Methods and Class Attributes

## 1). Class Attributes

In [71]:
class Person:
  number_of_people = 0# class attribute

  def __init__(self, name):
    self.name = name
    Person.number_of_people += 1


p1 = Person('Tim')
print(Person.number_of_people)
p2 = Person('Robin')
print(Person.number_of_people)

1
2

## 2). Class Method

In [74]:
class Person:
  number_of_people = 0# class attribute

  def __init__(self, name):
    self.name = name
    Person.add_person()

  @classmethod
  def number_of_people_(cls):
    return cls.name  

  @classmethod
  def add_person(cls):
    cls.number_of people += 1  


p1 = Person('Tim')
print(Person.number_of_people)
p2 = Person('Robin')
print(Person.number_of_people)

SyntaxError: ignored

## static method

In [82]:
class Math:
  
  @staticmethod
  def add5(x):
    return x+5


  @staticmethod
  def add5(x):
    return x+5

print(Math.add5(19991))

2004